App_WebReferences/InterfaceWebServiceykt/InterfaceWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ToLogin">
        <s:complexType />
      </s:element>
      <s:element name="ToLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ToLoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CredentialSoapHeader" type="tns:CredentialSoapHeader" />
      <s:complexType name="CredentialSoapHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="SetMethod">
        <s:complexType />
      </s:element>
      <s:element name="SetMethodResponse">
        <s:complexType />
      </s:element>
      <s:element name="getMethod">
        <s:complexType />
      </s:element>
      <s:element name="getMethodResponse">
        <s:complexType />
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ToLoginSoapIn">
    <wsdl:part name="parameters" element="tns:ToLogin" />
  </wsdl:message>
  <wsdl:message name="ToLoginSoapOut">
    <wsdl:part name="parameters" element="tns:ToLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ToLoginCredentialSoapHeader">
    <wsdl:part name="CredentialSoapHeader" element="tns:CredentialSoapHeader" />
  </wsdl:message>
  <wsdl:message name="SetMethodSoapIn">
    <wsdl:part name="parameters" element="tns:SetMethod" />
  </wsdl:message>
  <wsdl:message name="SetMethodSoapOut">
    <wsdl:part name="parameters" element="tns:SetMethodResponse" />
  </wsdl:message>
  <wsdl:message name="getMethodSoapIn">
    <wsdl:part name="parameters" element="tns:getMethod" />
  </wsdl:message>
  <wsdl:message name="getMethodSoapOut">
    <wsdl:part name="parameters" element="tns:getMethodResponse" />
  </wsdl:message>
  <wsdl:message name="ToLoginHttpGetIn" />
  <wsdl:message name="ToLoginHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SetMethodHttpGetIn" />
  <wsdl:message name="SetMethodHttpGetOut" />
  <wsdl:message name="getMethodHttpGetIn" />
  <wsdl:message name="getMethodHttpGetOut" />
  <wsdl:message name="ToLoginHttpPostIn" />
  <wsdl:message name="ToLoginHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SetMethodHttpPostIn" />
  <wsdl:message name="SetMethodHttpPostOut" />
  <wsdl:message name="getMethodHttpPostIn" />
  <wsdl:message name="getMethodHttpPostOut" />
  <wsdl:portType name="InterfaceWebServiceSoap">
    <wsdl:operation name="ToLogin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">authority set for Web Service</wsdl:documentation>
      <wsdl:input message="tns:ToLoginSoapIn" />
      <wsdl:output message="tns:ToLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetMethod">
      <wsdl:input message="tns:SetMethodSoapIn" />
      <wsdl:output message="tns:SetMethodSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getMethod">
      <wsdl:input message="tns:getMethodSoapIn" />
      <wsdl:output message="tns:getMethodSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="InterfaceWebServiceHttpGet">
    <wsdl:operation name="ToLogin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">authority set for Web Service</wsdl:documentation>
      <wsdl:input message="tns:ToLoginHttpGetIn" />
      <wsdl:output message="tns:ToLoginHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SetMethod">
      <wsdl:input message="tns:SetMethodHttpGetIn" />
      <wsdl:output message="tns:SetMethodHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getMethod">
      <wsdl:input message="tns:getMethodHttpGetIn" />
      <wsdl:output message="tns:getMethodHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="InterfaceWebServiceHttpPost">
    <wsdl:operation name="ToLogin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">authority set for Web Service</wsdl:documentation>
      <wsdl:input message="tns:ToLoginHttpPostIn" />
      <wsdl:output message="tns:ToLoginHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SetMethod">
      <wsdl:input message="tns:SetMethodHttpPostIn" />
      <wsdl:output message="tns:SetMethodHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getMethod">
      <wsdl:input message="tns:getMethodHttpPostIn" />
      <wsdl:output message="tns:getMethodHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InterfaceWebServiceSoap" type="tns:InterfaceWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ToLogin">
      <soap:operation soapAction="http://tempuri.org/ToLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ToLoginCredentialSoapHeader" part="CredentialSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMethod">
      <soap:operation soapAction="http://tempuri.org/SetMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMethod">
      <soap:operation soapAction="http://tempuri.org/getMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InterfaceWebServiceSoap12" type="tns:InterfaceWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ToLogin">
      <soap12:operation soapAction="http://tempuri.org/ToLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ToLoginCredentialSoapHeader" part="CredentialSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMethod">
      <soap12:operation soapAction="http://tempuri.org/SetMethod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMethod">
      <soap12:operation soapAction="http://tempuri.org/getMethod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InterfaceWebServiceHttpGet" type="tns:InterfaceWebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ToLogin">
      <http:operation location="/ToLogin" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMethod">
      <http:operation location="/SetMethod" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="getMethod">
      <http:operation location="/getMethod" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InterfaceWebServiceHttpPost" type="tns:InterfaceWebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ToLogin">
      <http:operation location="/ToLogin" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMethod">
      <http:operation location="/SetMethod" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="getMethod">
      <http:operation location="/getMethod" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InterfaceWebService">
    <wsdl:port name="InterfaceWebServiceSoap" binding="tns:InterfaceWebServiceSoap">
      <soap:address location="http://10.35.10.96:801/InterfaceWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="InterfaceWebServiceSoap12" binding="tns:InterfaceWebServiceSoap12">
      <soap12:address location="http://10.35.10.96:801/InterfaceWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="InterfaceWebServiceHttpGet" binding="tns:InterfaceWebServiceHttpGet">
      <http:address location="http://10.35.10.96:801/InterfaceWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="InterfaceWebServiceHttpPost" binding="tns:InterfaceWebServiceHttpPost">
      <http:address location="http://10.35.10.96:801/InterfaceWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>