App_WebReferences/Financial/FinancialWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="app" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFeeResult" type="tns:ArrayOfFee" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFee">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Fee" nillable="true" type="tns:Fee" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Fee">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PK_Fee" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fee_NO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Year" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FK_App" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="xtdm" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetFeeItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pk_Fee" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="spe_code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFeeItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFeeItemResult" type="tns:ArrayOfFee_Item" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFee_Item">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Fee_Item" nillable="true" type="tns:Fee_Item" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Fee_Item">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PK_Fee_Item" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FK_Fee" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fee_Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fee_Code_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fee_Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Fee_Amount" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="Fee_Payed" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="FK_Fee_Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SPE_Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Is_Must" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetOrderedFeeItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pk_Fee" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xh" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrderedFeeItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrderedFeeItemResult" type="tns:ArrayOfFee_Item" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUnpayedUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pk_Fee" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xh" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUnpayedUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUnpayedUrlResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InitStuInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="app" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="md5" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stu" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InitStuInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InitStuInfoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InitPayOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="app" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="md5" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pk_fee_items" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InitPayOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InitPayOrderResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="payUrl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDebtStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDebtStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDebtStatusResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllFeeItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pk_Fee" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllFeeItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllFeeItemResult" type="tns:ArrayOfFee_Item" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFeeItemByOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="payedOrder" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFeeItemByOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFeeItemByOrderResult" type="tns:ArrayOfFee_Item" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPayOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pk_fee" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPayOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPayOrderResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InitPayOrderTest">
        <s:complexType />
      </s:element>
      <s:element name="InitPayOrderTestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InitPayOrderTestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InitOffOrderByType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pk_app" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="md5" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fee_type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InitOffOrderByTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InitOffOrderByTypeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InitOffOrderTest">
        <s:complexType />
      </s:element>
      <s:element name="InitOffOrderTestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InitOffOrderTestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetFeeSoapIn">
    <wsdl:part name="parameters" element="tns:GetFee" />
  </wsdl:message>
  <wsdl:message name="GetFeeSoapOut">
    <wsdl:part name="parameters" element="tns:GetFeeResponse" />
  </wsdl:message>
  <wsdl:message name="GetFeeItemSoapIn">
    <wsdl:part name="parameters" element="tns:GetFeeItem" />
  </wsdl:message>
  <wsdl:message name="GetFeeItemSoapOut">
    <wsdl:part name="parameters" element="tns:GetFeeItemResponse" />
  </wsdl:message>
  <wsdl:message name="GetOrderedFeeItemSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrderedFeeItem" />
  </wsdl:message>
  <wsdl:message name="GetOrderedFeeItemSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrderedFeeItemResponse" />
  </wsdl:message>
  <wsdl:message name="GetUnpayedUrlSoapIn">
    <wsdl:part name="parameters" element="tns:GetUnpayedUrl" />
  </wsdl:message>
  <wsdl:message name="GetUnpayedUrlSoapOut">
    <wsdl:part name="parameters" element="tns:GetUnpayedUrlResponse" />
  </wsdl:message>
  <wsdl:message name="InitStuInfoSoapIn">
    <wsdl:part name="parameters" element="tns:InitStuInfo" />
  </wsdl:message>
  <wsdl:message name="InitStuInfoSoapOut">
    <wsdl:part name="parameters" element="tns:InitStuInfoResponse" />
  </wsdl:message>
  <wsdl:message name="InitPayOrderSoapIn">
    <wsdl:part name="parameters" element="tns:InitPayOrder" />
  </wsdl:message>
  <wsdl:message name="InitPayOrderSoapOut">
    <wsdl:part name="parameters" element="tns:InitPayOrderResponse" />
  </wsdl:message>
  <wsdl:message name="GetDebtStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetDebtStatus" />
  </wsdl:message>
  <wsdl:message name="GetDebtStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetDebtStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllFeeItemSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllFeeItem" />
  </wsdl:message>
  <wsdl:message name="GetAllFeeItemSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllFeeItemResponse" />
  </wsdl:message>
  <wsdl:message name="GetFeeItemByOrderSoapIn">
    <wsdl:part name="parameters" element="tns:GetFeeItemByOrder" />
  </wsdl:message>
  <wsdl:message name="GetFeeItemByOrderSoapOut">
    <wsdl:part name="parameters" element="tns:GetFeeItemByOrderResponse" />
  </wsdl:message>
  <wsdl:message name="GetPayOrderSoapIn">
    <wsdl:part name="parameters" element="tns:GetPayOrder" />
  </wsdl:message>
  <wsdl:message name="GetPayOrderSoapOut">
    <wsdl:part name="parameters" element="tns:GetPayOrderResponse" />
  </wsdl:message>
  <wsdl:message name="InitPayOrderTestSoapIn">
    <wsdl:part name="parameters" element="tns:InitPayOrderTest" />
  </wsdl:message>
  <wsdl:message name="InitPayOrderTestSoapOut">
    <wsdl:part name="parameters" element="tns:InitPayOrderTestResponse" />
  </wsdl:message>
  <wsdl:message name="InitOffOrderByTypeSoapIn">
    <wsdl:part name="parameters" element="tns:InitOffOrderByType" />
  </wsdl:message>
  <wsdl:message name="InitOffOrderByTypeSoapOut">
    <wsdl:part name="parameters" element="tns:InitOffOrderByTypeResponse" />
  </wsdl:message>
  <wsdl:message name="InitOffOrderTestSoapIn">
    <wsdl:part name="parameters" element="tns:InitOffOrderTest" />
  </wsdl:message>
  <wsdl:message name="InitOffOrderTestSoapOut">
    <wsdl:part name="parameters" element="tns:InitOffOrderTestResponse" />
  </wsdl:message>
  <wsdl:portType name="FinancialWSSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFee">
      <wsdl:input message="tns:GetFeeSoapIn" />
      <wsdl:output message="tns:GetFeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFeeItem">
      <wsdl:input message="tns:GetFeeItemSoapIn" />
      <wsdl:output message="tns:GetFeeItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderedFeeItem">
      <wsdl:input message="tns:GetOrderedFeeItemSoapIn" />
      <wsdl:output message="tns:GetOrderedFeeItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUnpayedUrl">
      <wsdl:input message="tns:GetUnpayedUrlSoapIn" />
      <wsdl:output message="tns:GetUnpayedUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InitStuInfo">
      <wsdl:input message="tns:InitStuInfoSoapIn" />
      <wsdl:output message="tns:InitStuInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InitPayOrder">
      <wsdl:input message="tns:InitPayOrderSoapIn" />
      <wsdl:output message="tns:InitPayOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDebtStatus">
      <wsdl:input message="tns:GetDebtStatusSoapIn" />
      <wsdl:output message="tns:GetDebtStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFeeItem">
      <wsdl:input message="tns:GetAllFeeItemSoapIn" />
      <wsdl:output message="tns:GetAllFeeItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFeeItemByOrder">
      <wsdl:input message="tns:GetFeeItemByOrderSoapIn" />
      <wsdl:output message="tns:GetFeeItemByOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPayOrder">
      <wsdl:input message="tns:GetPayOrderSoapIn" />
      <wsdl:output message="tns:GetPayOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InitPayOrderTest">
      <wsdl:input message="tns:InitPayOrderTestSoapIn" />
      <wsdl:output message="tns:InitPayOrderTestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InitOffOrderByType">
      <wsdl:input message="tns:InitOffOrderByTypeSoapIn" />
      <wsdl:output message="tns:InitOffOrderByTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InitOffOrderTest">
      <wsdl:input message="tns:InitOffOrderTestSoapIn" />
      <wsdl:output message="tns:InitOffOrderTestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FinancialWSSoap" type="tns:FinancialWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFee">
      <soap:operation soapAction="http://tempuri.org/GetFee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeeItem">
      <soap:operation soapAction="http://tempuri.org/GetFeeItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderedFeeItem">
      <soap:operation soapAction="http://tempuri.org/GetOrderedFeeItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnpayedUrl">
      <soap:operation soapAction="http://tempuri.org/GetUnpayedUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitStuInfo">
      <soap:operation soapAction="http://tempuri.org/InitStuInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitPayOrder">
      <soap:operation soapAction="http://tempuri.org/InitPayOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDebtStatus">
      <soap:operation soapAction="http://tempuri.org/GetDebtStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFeeItem">
      <soap:operation soapAction="http://tempuri.org/GetAllFeeItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeeItemByOrder">
      <soap:operation soapAction="http://tempuri.org/GetFeeItemByOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPayOrder">
      <soap:operation soapAction="http://tempuri.org/GetPayOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitPayOrderTest">
      <soap:operation soapAction="http://tempuri.org/InitPayOrderTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitOffOrderByType">
      <soap:operation soapAction="http://tempuri.org/InitOffOrderByType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitOffOrderTest">
      <soap:operation soapAction="http://tempuri.org/InitOffOrderTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FinancialWSSoap12" type="tns:FinancialWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFee">
      <soap12:operation soapAction="http://tempuri.org/GetFee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeeItem">
      <soap12:operation soapAction="http://tempuri.org/GetFeeItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderedFeeItem">
      <soap12:operation soapAction="http://tempuri.org/GetOrderedFeeItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnpayedUrl">
      <soap12:operation soapAction="http://tempuri.org/GetUnpayedUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitStuInfo">
      <soap12:operation soapAction="http://tempuri.org/InitStuInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitPayOrder">
      <soap12:operation soapAction="http://tempuri.org/InitPayOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDebtStatus">
      <soap12:operation soapAction="http://tempuri.org/GetDebtStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFeeItem">
      <soap12:operation soapAction="http://tempuri.org/GetAllFeeItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeeItemByOrder">
      <soap12:operation soapAction="http://tempuri.org/GetFeeItemByOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPayOrder">
      <soap12:operation soapAction="http://tempuri.org/GetPayOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitPayOrderTest">
      <soap12:operation soapAction="http://tempuri.org/InitPayOrderTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitOffOrderByType">
      <soap12:operation soapAction="http://tempuri.org/InitOffOrderByType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitOffOrderTest">
      <soap12:operation soapAction="http://tempuri.org/InitOffOrderTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FinancialWS">
    <wsdl:port name="FinancialWSSoap" binding="tns:FinancialWSSoap">
      <soap:address location="http://10.35.10.83:8020/FinancialWS.asmx" />
    </wsdl:port>
    <wsdl:port name="FinancialWSSoap12" binding="tns:FinancialWSSoap12">
      <soap12:address location="http://10.35.10.83:8020/FinancialWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>