App_WebReferences/ServiceReference1/UumDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UumDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.35.10.50/services/UumDataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.35.10.50/services/UumDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.35.10.50/services/UumDataService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUumDataService_TestConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="IUumDataService_TestConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IUumDataService_TestTransferParams_InputMessage">
    <wsdl:part name="parameters" element="tns:TestTransferParams" />
  </wsdl:message>
  <wsdl:message name="IUumDataService_TestTransferParams_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestTransferParamsResponse" />
  </wsdl:message>
  <wsdl:message name="IUumDataService_GetUumData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUumData" />
  </wsdl:message>
  <wsdl:message name="IUumDataService_GetUumData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUumDataResponse" />
  </wsdl:message>
  <wsdl:message name="IUumDataService_SetUumData_InputMessage">
    <wsdl:part name="parameters" element="tns:SetUumData" />
  </wsdl:message>
  <wsdl:message name="IUumDataService_SetUumData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetUumDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IUumDataService">
    <wsdl:operation name="TestConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IUumDataService/TestConnection" message="tns:IUumDataService_TestConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUumDataService/TestConnectionResponse" message="tns:IUumDataService_TestConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestTransferParams">
      <wsdl:input wsaw:Action="http://tempuri.org/IUumDataService/TestTransferParams" message="tns:IUumDataService_TestTransferParams_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUumDataService/TestTransferParamsResponse" message="tns:IUumDataService_TestTransferParams_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUumData">
      <wsdl:input wsaw:Action="http://tempuri.org/IUumDataService/GetUumData" message="tns:IUumDataService_GetUumData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUumDataService/GetUumDataResponse" message="tns:IUumDataService_GetUumData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetUumData">
      <wsdl:input wsaw:Action="http://tempuri.org/IUumDataService/SetUumData" message="tns:IUumDataService_SetUumData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUumDataService/SetUumDataResponse" message="tns:IUumDataService_SetUumData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUumDataService" type="tns:IUumDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://tempuri.org/IUumDataService/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestTransferParams">
      <soap:operation soapAction="http://tempuri.org/IUumDataService/TestTransferParams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUumData">
      <soap:operation soapAction="http://tempuri.org/IUumDataService/GetUumData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUumData">
      <soap:operation soapAction="http://tempuri.org/IUumDataService/SetUumData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UumDataService">
    <wsdl:port name="BasicHttpBinding_IUumDataService" binding="tns:BasicHttpBinding_IUumDataService">
      <soap:address location="http://10.35.10.50/services/UumDataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>